

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Personel/Index" class="btn btn-primary">Personel İşlemleri</a>
<br />
<br />
<a href="/Musteri/Index" class="btn btn-primary">Müşteri İşlemleri</a>
