@model IEnumerable<OdemeProjesi.Models.tblFatura>
@{
    ViewBag.Title = "AboneFaturaGetir";
}

<h2>Abone Fatura Getir</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>abone TC</th>
            <th>abone ad</th>
            <th>FaturaTutar</th>
            <th>FaturaDurum</th>
        </tr>

        @foreach (var item in Model)
        {
           
    <tr>
        <td>@item.tblAbone.TCNo</td>
        <td>@item.tblAbone.AboneAdi @item.tblAbone.AboneSoyadi</td>
        <td>@item.FaturaTutar</td>
        @if (item.FaturaDurum == false)
        {
            <td><a class="btn btn-danger " href="/Personel/FaturaOdeme/@item.FaturaId" >ÖDE</a></td>
        }
        else
        {
           <td><button class="btn btn-success" disabled>Fatura Ödendi</button></td>
        }

    </tr>
        }
</table>
