
@{
    ViewBag.Title = "Index";
}

<h2>Personel İşlemlerine Hoş Geldiniz</h2>
<br />
<a href="/Personel/AboneListele" class="btn btn-primary">Abone Listeleme</a>
<br />
<br />
<a href="/Personel/AboneEkle" class="btn btn-primary">Abone Ekle</a>
<br />
<br />
<a href="/Personel/FaturaSorgulamaSayfasi" class="btn btn-primary">Fatura Ödeme </a>

